Rappresentazione grafica su scala Italiana del percorso

In [2]:
import numpy as np
import pandas as pd

geo = pd.read_json("data/italy_geo.json")
geo

       istat           comune         lng          lat
0       1001            Agliè      7.7686    45.363433
1       1002          Airasca  7.48443104    44.916886
2       1003     Ala di Stura  7.30434392    45.315110
3       1004  Albiano d'Ivrea  7.94914491    45.433893
4       1005  Alice Superiore  7.77701858    45.460094
...      ...              ...         ...          ...
7975  111105      Villasimius  9.52036544    39.142384
7976  111106         Villasor  8.94065031    39.380689
7977  111107    Villaspeciosa  8.92693384    39.312805
7978   Total                               7978.000000
7979                      NaN         NaN          NaN

[7980 rows x 4 columns]

In [13]:
import numpy as np
import pandas as pd
x = geo[geo["comune"] == "Torino"]["lat"].values[0]
type(np.float64(x).item())

float

In [23]:
geo['Distance'] = list
geo["Distance"][1] = ["ciao","come","stai"]
geo

<ipython-input-23-3c55df8e0178>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geo["Distance"][1] = ["ciao","come","stai"]

       istat           comune         lng          lat            Distance
0       1001            Agliè      7.7686    45.363433      <class 'list'>
1       1002          Airasca  7.48443104    44.916886  [ciao, come, stai]
2       1003     Ala di Stura  7.30434392    45.315110      <class 'list'>
3       1004  Albiano d'Ivrea  7.94914491    45.433893      <class 'list'>
4       1005  Alice Superiore  7.77701858    45.460094      <class 'list'>
...      ...              ...         ...          ...                 ...
7975  111105      Villasimius  9.52036544    39.142384      <class 'list'>
7976  111106         Villasor  8.94065031    39.380689      <class 'list'>
7977  111107    Villaspeciosa  8.92693384    39.312805      <class 'list'>
7978   Total                               7978.000000      <class 'list'>
7979                      NaN         NaN          NaN      <class 'list'>

[7980 rows x 5 columns]

In [25]:
sasso = pd.read_json("percorsi.json")
sasso

,city,lat,long,Distance,Minutes
0,L'Aquila,42.351222,13.398438,"[0, 420, 629, 245, 394, 687, 141, 551, 606, 19...","[0, 282, 423, 204, 248, 420, 136, 378, 372, 12..."
1,Potenza,40.639470,15.805150,"[376, 0, 319, 157, 712, 959, 366, 843, 908, 46...","[266, 0, 212, 114, 425, 598, 231, 509, 541, 30..."
2,Catanzaro,38.905976,16.594404,"[624, 319, 0, 405, 959, 1256, 614, 1091, 1156,...","[404, 211, 0, 252, 564, 740, 369, 647, 680, 50..."
3,Napoli,40.839566,14.250850,"[239, 157, 405, 0, 575, 871, 229, 707, 771, 44...","[186, 114, 251, 0, 345, 522, 151, 429, 461, 29..."
4,Bologna,44.494367,11.341721,"[396, 666, 961, 576, 0, 299, 380, 298, 213, 21...","[250, 426, 568, 350, 0, 200, 251, 211, 149, 14..."
5,Trieste,45.649435,13.768137,"[691, 961, 1258, 874, 301, 0, 677, 549, 420, 5...","[420, 595, 740, 522, 199, 0, 423, 355, 269, 31..."
6,Roma,41.892770,12.483667,"[126, 366, 613, 229, 380, 676, 0, 500, 576, 30...","[109, 232, 369, 151, 249, 426, 0, 326, 365, 21..."
7,Genova,44.411493,8.932699,"[549, 843, 1090, 705, 293, 538, 490, 0, 140, 5...","[378, 511, 648, 429, 198, 344, 325, 0, 113, 32..."
8,Milano,45.466794,9.190347,"[611, 912, 1159, 775, 216, 415, 578, 148, 0, 4...","[381, 551, 688, 470, 154, 274, 371, 130, 0, 27..."
9,Ancona,43.616760,13.518875,"[191, 462, 816, 443, 216, 509, 301, 513, 428, ...","[129, 304, 499, 291, 147, 318, 215, 332, 270, ..."
10,Campobasso,41.557748,14.659161,"[190, 205, 481, 161, 530, 823, 230, 708, 742, ...","[176, 161, 311, 126, 343, 514, 173, 451, 466, ..."
11,Torino,45.073274,7.680687,"[727, 1029, 1276, 891, 332, 547, 695, 173, 143...","[449, 619, 757, 538, 222, 348, 439, 132, 118, ..."
12,Bari,41.125596,16.867370,"[400, 130, 355, 263, 667, 959, 430, 907, 878, ...","[258, 114, 246, 176, 405, 577, 283, 561, 528, ..."
13,Cagliari,39.215312,9.110616,"[716, 944, 841, 806, 762, 1058, 583, 767, 883,...","[882, 995, 975, 914, 795, 972, 794, 798, 870, ..."
14,Palermo,38.115697,13.362357,"[938, 633, 383, 719, 1273, 1570, 927, 1405, 14...","[635, 442, 286, 483, 795, 972, 601, 879, 911, ..."
15,Firenze,43.769231,11.255889,"[318, 611, 858, 474, 105, 401, 277, 233, 301, ...","[236, 369, 506, 288, 87, 264, 189, 172, 203, 2..."
16,Trento,46.068935,11.121231,"[623, 924, 1171, 787, 228, 274, 590, 357, 228,...","[380, 550, 687, 468, 153, 225, 370, 251, 164, ..."
17,Perugia,43.106758,12.388247,"[172, 510, 757, 372, 252, 532, 176, 384, 449, ...","[148, 314, 451, 232, 169, 347, 134, 252, 285, ..."
18,Aosta,45.737503,7.320149,"[792, 1093, 1340, 956, 397, 591, 759, 248, 186...","[476, 646, 783, 565, 249, 364, 466, 166, 134, ..."
19,Venezia,45.434905,12.338452,"[549, 819, 1116, 732, 159, 164, 535, 407, 278,...","[341, 516, 661, 442, 120, 124, 343, 276, 189, ..."
20,Bolzano,46.499335,11.356624,"[678, 979, 1226, 842, 283, 301, 645, 412, 283,...","[417, 588, 725, 506, 191, 264, 408, 289, 202, ..."

In [26]:
new = pd.read_json("percorsi.json")
new

,city,lat,long,Distance,Minutes
0,L'Aquila,42.351222,13.398438,"[0, 370, 618, 233, 394, 687, 141, 596, 606, 19...","[0, 249, 387, 168, 248, 420, 135, 369, 372, 12..."
1,Potenza,40.639470,15.805150,"[370, 0, 319, 157, 659, 951, 367, 843, 908, 45...","[248, 0, 212, 114, 421, 593, 230, 509, 541, 30..."
2,Catanzaro,38.905976,16.594404,"[617, 319, 0, 405, 959, 1256, 614, 1091, 1156,...","[387, 211, 0, 252, 564, 740, 368, 647, 680, 49..."
3,Napoli,40.839566,14.250850,"[233, 157, 405, 0, 575, 871, 230, 707, 771, 42...","[168, 114, 251, 0, 345, 522, 150, 429, 461, 28..."
4,Bologna,44.494367,11.341721,"[396, 658, 961, 576, 0, 299, 380, 298, 213, 21...","[250, 420, 568, 350, 0, 200, 251, 211, 149, 14..."
5,Trieste,45.649435,13.768137,"[691, 953, 1258, 874, 301, 0, 677, 549, 420, 5...","[420, 590, 740, 522, 199, 0, 423, 355, 269, 31..."
6,Roma,41.892770,12.483667,"[119, 366, 613, 229, 380, 676, 0, 512, 576, 30...","[92, 232, 369, 151, 249, 426, 0, 333, 365, 203..."
7,Genova,44.411493,8.932699,"[596, 843, 1090, 705, 293, 538, 490, 0, 140, 5...","[371, 511, 648, 429, 198, 344, 325, 0, 112, 32..."
8,Milano,45.466794,9.190347,"[610, 873, 1158, 774, 215, 414, 577, 148, 0, 4...","[377, 547, 684, 466, 150, 270, 367, 126, 0, 27..."
9,Ancona,43.616760,13.518875,"[191, 454, 772, 419, 216, 509, 306, 513, 428, ...","[129, 299, 493, 280, 147, 318, 201, 332, 270, ..."
10,Campobasso,41.557748,14.659161,"[190, 198, 481, 126, 530, 823, 231, 708, 742, ...","[176, 156, 311, 126, 343, 514, 172, 451, 466, ..."
11,Torino,45.073274,7.680687,"[727, 990, 1275, 891, 332, 549, 694, 172, 144,...","[447, 617, 754, 536, 220, 347, 437, 130, 116, ..."
12,Bari,41.125596,16.867370,"[400, 130, 355, 263, 667, 959, 431, 907, 878, ...","[258, 109, 246, 176, 405, 577, 282, 561, 528, ..."
13,Cagliari,39.215312,9.110616,"[709, 944, 841, 806, 762, 1058, 583, 767, 883,...","[864, 995, 974, 914, 795, 972, 794, 798, 870, ..."
14,Palermo,38.115697,13.362357,"[927, 629, 379, 714, 1269, 1565, 924, 1401, 14...","[619, 443, 287, 484, 796, 973, 601, 880, 912, ..."
15,Firenze,43.769231,11.255889,"[365, 611, 858, 474, 104, 400, 277, 236, 300, ...","[229, 369, 506, 287, 83, 260, 189, 167, 199, 2..."
16,Trento,46.068935,11.121231,"[623, 885, 1171, 787, 228, 274, 590, 357, 228,...","[380, 550, 687, 468, 153, 225, 370, 251, 164, ..."
17,Perugia,43.106758,12.388247,"[172, 510, 757, 372, 252, 532, 176, 384, 449, ...","[148, 314, 451, 232, 169, 347, 134, 252, 285, ..."
18,Aosta,45.737503,7.320149,"[806, 1107, 1354, 970, 411, 604, 773, 262, 200...","[484, 654, 792, 573, 258, 373, 475, 176, 143, ..."
19,Venezia,45.434905,12.338452,"[549, 811, 1116, 732, 159, 164, 535, 407, 278,...","[341, 511, 661, 442, 120, 124, 343, 276, 189, ..."
20,Bolzano,46.499335,11.356624,"[678, 979, 1226, 841, 282, 302, 645, 412, 283,...","[419, 589, 726, 508, 192, 267, 409, 290, 203, ..."

In [ ]:
new = pd.read_json("data/weights.json")
new