In [69]:
import numpy as np
import pandas as pd
df = pd.read_excel("./data/C_17_bancheDati_13_0_0_file.xls")
df

,ANNO,CODICE REGIONE,DENOMINAZIONE REGIONE,CODICE AZIENDA,DENOMINAZIONE AZIENDA,INDIRIZZO,CAP,COMUNE,SIGLA PROVINCIA,TELEFONO,FAX,E-MAIL,SITO WEB,PARTITA IVA
0,2010,10,PIEMONTE,201,TO1,VIA S.SECONDO 29,10128,TORINO,TO,NaN,NaN,NaN,NaN,NaN
1,2010,10,PIEMONTE,202,TO2,CORSO SVIZZERA 164,10149,TORINO,TO,NaN,NaN,NaN,NaN,NaN
2,2010,10,PIEMONTE,203,TO3,VIA MARTIRI XXX APRILE 30,10093,COLLEGNO,TO,NaN,NaN,NaN,NaN,NaN
3,2010,10,PIEMONTE,204,TO4,Via Po 11,10034,CHIVASSO,TO,NaN,NaN,NaN,NaN,NaN
4,2010,10,PIEMONTE,205,TO5,VIA SAN DOMENICO 21,10023,CHIERI,TO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,2020,190,SICILIA,206,ASP PALERMO,VIA G. CUSMANO 24,90100,PALERMO,PA,091 6661111,091 6661111,sil@asl6.it,www.asl6.it,5.841761e+09
1377,2020,190,SICILIA,207,ASP RAGUSA,P.ZZA IGEA 1,97100,RAGUSA,RG,0932600111,0932600111,sil@asl7.it,www.asl7.it,1.426411e+09
1378,2020,190,SICILIA,208,ASP SIRACUSA,C.SO GELONE 17,96100,SIRACUSA,SR,0931724111,0931724111,sil@asl8.it,www.asp8.it,1.661591e+09
1379,2020,190,SICILIA,209,ASP DI TRAPANI,VIA MAZZINI 1,91100,TRAPANI,TP,0923805111,0923805111,office@astrapani.it,www.asltrapani.it,2.363281e+09
1380,2020,200,SARDEGNA,201,AZIENDA PER LA TUTELA DELLA SALUTE,VIA MONTE GRAPPA 82,7100,SASSARI,SS,0792061907,0792061907,protocollo.generale@pec.atssardegna.it,www.atssardegna.it,9.356509e+08

Clear the dataset to last year

In [15]:
df_clean = df[df["ANNO"] == 2020]
df_clean

,ANNO,CODICE REGIONE,DENOMINAZIONE REGIONE,CODICE AZIENDA,DENOMINAZIONE AZIENDA,INDIRIZZO,CAP,COMUNE,SIGLA PROVINCIA,TELEFONO,FAX,E-MAIL,SITO WEB,PARTITA IVA
1282,2020,10,PIEMONTE,203,TO3,VIA MARTIRI XXX APRILE 30,10093,COLLEGNO,TO,01140171,0114017277,aslto3@cert.aslto3.piemonte.it,www.aslto3.piemonte.it,2.704350e+09
1283,2020,10,PIEMONTE,204,TO4,Via Po 11,10034,CHIVASSO,TO,0119176666,0119176322,direzione.generale@asl7.to.it,www.asl.ivrea.to.it,9.736160e+09
1284,2020,10,PIEMONTE,205,TO5,VIA SAN DOMENICO 21,10023,CHIERI,TO,011 94291,011 94293268,protocollo@cert.aslto5.piemonte.it,www.asl8.piemonte.it,6.827170e+09
1285,2020,10,PIEMONTE,206,VC,C.SO MARIO ABBIATE 21,13100,VERCELLI,VC,0161 5931,0161/210284,affari.generali@asl11.piemonte.it,www.asl11.piemonte.it,1.811110e+09
1286,2020,10,PIEMONTE,207,BI,VIA DEI PONDERANESI 2,13875,PONDERANO,BI,01535031,015 3503545,ufficio.protocollo@cert.aslbi.piemonte.it,www2.aslbi.piemonte.it,1.810260e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,2020,190,SICILIA,206,ASP PALERMO,VIA G. CUSMANO 24,90100,PALERMO,PA,091 6661111,091 6661111,sil@asl6.it,www.asl6.it,5.841761e+09
1377,2020,190,SICILIA,207,ASP RAGUSA,P.ZZA IGEA 1,97100,RAGUSA,RG,0932600111,0932600111,sil@asl7.it,www.asl7.it,1.426411e+09
1378,2020,190,SICILIA,208,ASP SIRACUSA,C.SO GELONE 17,96100,SIRACUSA,SR,0931724111,0931724111,sil@asl8.it,www.asp8.it,1.661591e+09
1379,2020,190,SICILIA,209,ASP DI TRAPANI,VIA MAZZINI 1,91100,TRAPANI,TP,0923805111,0923805111,office@astrapani.it,www.asltrapani.it,2.363281e+09
1380,2020,200,SARDEGNA,201,AZIENDA PER LA TUTELA DELLA SALUTE,VIA MONTE GRAPPA 82,7100,SASSARI,SS,0792061907,0792061907,protocollo.generale@pec.atssardegna.it,www.atssardegna.it,9.356509e+08

In [24]:
regioni = df_clean["DENOMINAZIONE REGIONE"].unique()
regioni

array(['PIEMONTE', "VALLE D'AOSTA", 'LOMBARDIA', 'PROV. AUTON. BOLZANO',
       'PROV. AUTON. TRENTO', 'VENETO', 'FRIULI VENEZIA GIULIA',
       'LIGURIA', 'EMILIA ROMAGNA', 'TOSCANA', 'UMBRIA', 'MARCHE',
       'LAZIO', 'ABRUZZO', 'MOLISE', 'CAMPANIA', 'PUGLIA', 'BASILICATA',
       'CALABRIA', 'SICILIA', 'SARDEGNA'], dtype=object)

In [237]:
comuni = df_clean["COMUNE"].unique()
comuni
lista_comuni = df_clean["COMUNE"].unique().tolist()
for i in range(0, len(lista_comuni)):
    lista_comuni[i] = lista_comuni[i].strip()
#print(lista_comuni)
#df_clean["COMUNE"].value_counts()

In [241]:
geo = pd.read_json("./data/italy_geo.json")
def search_comune(comune : str):
    try:
        comune = comune.lower().strip()
        geo["comune"] = geo["comune"].str.lower()
        lat = geo[geo["comune"] == comune]["lat"].values[0]
        long = geo[geo["comune"] == comune]["lng"].values[0]
        return(long, lat)
    except IndexError:
        print(comune, geo[geo["comune"] == comune]["lat"],geo[geo["comune"] == comune]["lng"])

In [240]:
new_df = pd.DataFrame(np.zeros((len(lista_comuni), len(lista_comuni))),index = lista_comuni, columns = lista_comuni)
new_df

,COLLEGNO,CHIVASSO,CHIERI,VERCELLI,PONDERANO,NOVARA,OMEGNA,CUNEO,ALBA,ASTI,...,AGRIGENTO,CALTANISSETTA,CATANIA,ENNA,MESSINA,PALERMO,RAGUSA,SIRACUSA,TRAPANI,SASSARI
COLLEGNO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CHIVASSO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CHIERI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VERCELLI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PONDERANO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PALERMO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RAGUSA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SIRACUSA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TRAPANI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SASSARI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [244]:
import main
def fill_coords():
    for i in range(len(lista_comuni)):
        for j in range(len(lista_comuni)):
            long1, lat1 = search_comune(lista_comuni[j])
            long2, lat2 = search_comune(lista_comuni[i])
            #print(long1,lat1,long2,lat2)
            new_df[lista_comuni[i]][lista_comuni[j]] = main.calculate_distance(float(long1), float(lat1), float(long2), float(lat2))
    return new_df
fill_coords()

,COLLEGNO,CHIVASSO,CHIERI,VERCELLI,PONDERANO,NOVARA,OMEGNA,CUNEO,ALBA,ASTI,...,AGRIGENTO,CALTANISSETTA,CATANIA,ENNA,MESSINA,PALERMO,RAGUSA,SIRACUSA,TRAPANI,SASSARI
COLLEGNO,0.0,27.0,21.0,72.0,63.0,92.0,110.0,76.0,55.0,53.0,...,999.0,1002.0,1049.0,1005.0,1012.0,911.0,1086.0,1101.0,886.0,490.0
CHIVASSO,27.0,0.0,20.0,44.0,41.0,64.0,86.0,92.0,55.0,40.0,...,996.0,998.0,1044.0,1000.0,1004.0,908.0,1082.0,1095.0,885.0,499.0
CHIERI,21.0,20.0,0.0,58.0,61.0,79.0,106.0,72.0,38.0,32.0,...,982.0,985.0,1031.0,987.0,993.0,894.0,1069.0,1083.0,870.0,480.0
VERCELLI,72.0,44.0,58.0,0.0,37.0,20.0,61.0,124.0,75.0,50.0,...,989.0,989.0,1031.0,990.0,988.0,900.0,1072.0,1083.0,880.0,511.0
PONDERANO,63.0,41.0,61.0,37.0,0.0,45.0,46.0,133.0,93.0,72.0,...,1024.0,1024.0,1067.0,1026.0,1025.0,934.0,1107.0,1119.0,914.0,536.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PALERMO,911.0,908.0,894.0,900.0,934.0,904.0,954.0,850.0,856.0,867.0,...,91.0,92.0,166.0,101.0,192.0,0.0,179.0,206.0,75.0,504.0
RAGUSA,1086.0,1082.0,1069.0,1072.0,1107.0,1076.0,1125.0,1027.0,1031.0,1042.0,...,110.0,86.0,71.0,81.0,158.0,179.0,0.0,52.0,230.0,681.0
SIRACUSA,1101.0,1095.0,1083.0,1083.0,1119.0,1085.0,1135.0,1043.0,1045.0,1054.0,...,153.0,119.0,52.0,105.0,128.0,206.0,52.0,0.0,267.0,711.0
TRAPANI,886.0,885.0,870.0,880.0,914.0,886.0,937.0,821.0,831.0,845.0,...,122.0,148.0,233.0,163.0,266.0,75.0,230.0,267.0,0.0,454.0
SASSARI,490.0,499.0,480.0,511.0,536.0,524.0,572.0,416.0,444.0,465.0,...,576.0,595.0,667.0,605.0,663.0,504.0,681.0,711.0,454.0,0.0

In [238]:
index = lista_comuni.index("SAN DONA' DI PIAVE")
lista_comuni[index] = "san donÃ  di piave".upper()
print(lista_comuni)

['COLLEGNO', 'CHIVASSO', 'CHIERI', 'VERCELLI', 'PONDERANO', 'NOVARA', 'OMEGNA', 'CUNEO', 'ALBA', 'ASTI', 'ALESSANDRIA', 'TORINO', 'AOSTA', 'MILANO', 'VARESE', 'SONDRIO', 'MONZA', 'BERGAMO', 'BRESCIA', 'MANTOVA', 'PAVIA', 'BOLZANO', 'TRENTO', 'BELLUNO', 'TREVISO', 'VENEZIA', 'SAN DONÃ€ DI PIAVE', 'ROVIGO', 'PADOVA', 'BASSANO DEL GRAPPA', 'VICENZA', 'VERONA', 'PORDENONE', 'UDINE', 'TRIESTE', 'SAN REMO', 'SAVONA', 'GENOVA', 'CHIAVARI', 'LA SPEZIA', 'PIACENZA', 'PARMA', "REGGIO NELL'EMILIA", 'MODENA', 'BOLOGNA', 'IMOLA', 'FERRARA', 'RAVENNA', 'FIRENZE', 'PISA', 'AREZZO', 'PERUGIA', 'TERNI', 'ANCONA', 'VITERBO', 'RIETI', 'LATINA', 'FROSINONE', 'ROMA', 'CIVITAVECCHIA', 'TIVOLI', 'ALBANO LAZIALE', "L'AQUILA", 'CHIETI', 'PESCARA', 'TERAMO', 'CAMPOBASSO', 'AVELLINO', 'BENEVENTO', 'CASERTA', 'NAPOLI', 'POZZUOLI', 'CASTELLAMMARE DI STABIA', 'SALERNO', 'BRINDISI', 'TARANTO', 'ANDRIA', 'BARI', 'FOGGIA', 'LECCE', 'POTENZA', 'MATERA', 'COSENZA', 'CROTONE', 'CATANZARO', 'VIBO VALENTIA', 'REGGIO DI CALABRIA', 'AGRIGENTO', 'CALTANISSETTA', 'CATANIA', 'ENNA', 'MESSINA', 'PALERMO', 'RAGUSA', 'SIRACUSA', 'TRAPANI', 'SASSARI']

In [239]:
index = lista_comuni.index("SAN REMO")
lista_comuni[index] = "sanremo".upper()
print(lista_comuni)

['COLLEGNO', 'CHIVASSO', 'CHIERI', 'VERCELLI', 'PONDERANO', 'NOVARA', 'OMEGNA', 'CUNEO', 'ALBA', 'ASTI', 'ALESSANDRIA', 'TORINO', 'AOSTA', 'MILANO', 'VARESE', 'SONDRIO', 'MONZA', 'BERGAMO', 'BRESCIA', 'MANTOVA', 'PAVIA', 'BOLZANO', 'TRENTO', 'BELLUNO', 'TREVISO', 'VENEZIA', 'SAN DONÃ€ DI PIAVE', 'ROVIGO', 'PADOVA', 'BASSANO DEL GRAPPA', 'VICENZA', 'VERONA', 'PORDENONE', 'UDINE', 'TRIESTE', 'SANREMO', 'SAVONA', 'GENOVA', 'CHIAVARI', 'LA SPEZIA', 'PIACENZA', 'PARMA', "REGGIO NELL'EMILIA", 'MODENA', 'BOLOGNA', 'IMOLA', 'FERRARA', 'RAVENNA', 'FIRENZE', 'PISA', 'AREZZO', 'PERUGIA', 'TERNI', 'ANCONA', 'VITERBO', 'RIETI', 'LATINA', 'FROSINONE', 'ROMA', 'CIVITAVECCHIA', 'TIVOLI', 'ALBANO LAZIALE', "L'AQUILA", 'CHIETI', 'PESCARA', 'TERAMO', 'CAMPOBASSO', 'AVELLINO', 'BENEVENTO', 'CASERTA', 'NAPOLI', 'POZZUOLI', 'CASTELLAMMARE DI STABIA', 'SALERNO', 'BRINDISI', 'TARANTO', 'ANDRIA', 'BARI', 'FOGGIA', 'LECCE', 'POTENZA', 'MATERA', 'COSENZA', 'CROTONE', 'CATANZARO', 'VIBO VALENTIA', 'REGGIO DI CALABRIA', 'AGRIGENTO', 'CALTANISSETTA', 'CATANIA', 'ENNA', 'MESSINA', 'PALERMO', 'RAGUSA', 'SIRACUSA', 'TRAPANI', 'SASSARI']

In [247]:
with open('weights.json', 'w', encoding='utf-8') as file:
    new_df.to_json(file, force_ascii=False)